<h2 id="title">Nueva cita</h2>
<form>
<div class="row">
    <fieldset>
        {{input value=model.nombre}}
        {{input value=model.apellidos}}
        {{input value=model.descripcion}}
        {{test-1}}
        </fieldset>
            <div class="buttons">

                <button {{action "saveSolicitud"}} {{bind-attr disabled=savingDisabled}} class="button save">
                    Enviar Solicitud
                </button>
            </div>

</div>
</form>
 {{outlet}}
