<form>
<div class="row">
    <fieldset>
        {{input value=model.nombre}}
        {{input value=model.apellidos}}
        {{input value=model.numgsm}}
        {{input value=model.descripcion}}        
        
        {{#form-fieldset klass="col-xs-12 col-sm-6 col-md-6 col-lg-4"}}
        {{form-input model=model field=nombre i18nKey='solicitud_nombre' }}
        {{form-input model=model field=apellidos i18nKey='solicitud_apellidos'}}
        {{/form-fieldset}}


        </fieldset>
</div>
</form>
<div class="buttons">
    <button {{action "saveSolicitud"}} disabled={{savingDisabled}} class="button save">
        Enviar Solicitud
    </button>
</div>
{{outlet}}

