{{#paper-toolbar}}
<div class="md-toolbar-tools">
    <span>
            GRUPO MOTORSPORT
     </span>
</div>
{{/paper-toolbar}}

{{#paper-content class="md-padding md-whiteframe-z3"}}
<div class="doc-content">
    <div layout-sm="column" layout-gt-lg="row">
        <div flex-gt-lg="33">
            {{paper-input  label='Matrícula' value=model.matric icon="maps" icon-class="directions-car"}}
            {{paper-input  label='Kilometraje'    value=model.km icon="maps" icon-class="directions-car"}}
        </div>
        <div flex-gt-lg="33">
            {{paper-input  label="Nombre"    value=model.nombre    icon="person" icon-class="name"}}
            {{paper-input  label="Apellidos" value=model.apellidos icon="person" icon-class="name" required=true required-errortext="Se requiere apellidos"}}
        </div>
        <div flex-gt-lg="33">
            {{paper-input label="Teléfono"   value=model.numgsm required=true type="tel"    icon="phone" md-no-float='' required-errortext="Se requiere teléfono"}}
            {{paper-input  label="Email"     value=model.email required=true type="email"   customValidation=emailValidation icon="email" icon-class="email" required-errortext="Se requiere email" }}
        </div>   
    </div>
</div>
{{/paper-content}}

{{#if multiTaller}}
    {{#paper-content class="md-padding md-whiteframe-z3"}}
        <div layout="row" layout-align="start center">
            <div>{{paper-icon icon="place"}}</div>
            <div>{{#paper-subheader class="md-no-sticky"}}Escoja el taller de su preferencia{{/paper-subheader}}</div>
        </div>

       {{select-taller model=listTaller chooseTaller="chooseTaller" toggleGeo="toggleGeo"}}
    {{/paper-content}}
{{/if}}

{{#if vehiculoCortesiaEnabled}}
    {{#paper-content class="md-padding md-whiteframe-z3"}}
        {{#paper-subheader class="md-no-sticky"}}El taller dispone de vehículos de cortesía{{/paper-subheader}}
        {{#paper-switch checked=model.vehiculoCortesia}}
            {{#if model.vehiculoCortesia}}
                Si. Deseo vehículo cortesía
            {{else}}
                No deseo vehículo cortesía
            {{/if}}
        {{/paper-switch}}
    {{/paper-content}}
{{/if}}


{{#paper-content class="md-padding md-whiteframe-z3"}}
    <div layout="row" layout-align="start center">
        <div>{{paper-icon icon="build"}}</div>
        <div>{{#paper-subheader class="md-no-sticky"}}Escoja lo más conveniente{{/paper-subheader}}</div>
    </div>
    {{select-job model=listJob toggleJob="toggleJob" }}
{{/paper-content}}


{{#paper-content class="md-padding md-whiteframe-z3"}}
    <div layout="row" layout-align="start center">
        <div>{{paper-icon icon="build"}}</div>
        <div>{{#paper-subheader class="md-no-sticky"}}Ó facilite una breve descripción{{/paper-subheader}}</div>
    </div>
    {{paper-input textarea=true label='Descripción del problema' value=model.descripcion }}
{{/paper-content}}


{{#paper-content class="md-padding md-whiteframe-z3"}}
    <div layout="row" layout-align="start center">
        <div>{{paper-icon icon="access-time"}}</div>
        <div>{{#paper-subheader class="md-no-sticky"}}¿A qué hora le va bien?{{/paper-subheader}}</div>
    </div>
    {{select-fecha model=listFecha toggleHora="toggleHora" toggleFecha="toggleFecha" }}
{{/paper-content}}


{{#paper-content class="md-padding md-whiteframe-z3"}}
    {{#paper-button action='saveSolicitud' raised=true primary=true disabled=savingDisabled}}Enviar solicitud{{/paper-button}}
{{/paper-content}}
