{{#paper-list}}
    <div layout-sm="column" layout-gt-lg="row">
    {{#each model as |taller|}}
        {{#paper-item  layout-align="start start"}}
            {{#if taller.geoVisible}}
                <div layout="column">
                    {{taller.direccion}}
                    {{#g-map lat=taller.geoLat lng=taller.geoLng zoom=18 as |contexto|}}
                        {{g-map-marker contexto lat=taller.geoLat lng=taller.geoLng}}
                    {{/g-map}}
                </div>
            {{else}}
                {{#paper-radio value=taller selected=taller.choosed param=taller changed="chooseTaller"}}
                    {{taller.descripcion}}
                {{/paper-radio}}
            {{/if}}
            {{#paper-button icon-button=true param=taller action="toggleGeo"}}
                {{#if taller.geoVisible}}
                    {{paper-icon icon="place" }}
                {{else}}
                    {{paper-icon icon="map"}}
                {{/if}}
            {{/paper-button}}

        {{/paper-item}}
    {{/each}}
	</div>
{{/paper-list}}
